<!--include extra files-->
<%- include('include/_header') %>

<!-- Right Column -->
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 text-left">
            <p class="lead">Please select where you would like to insert a new product:</p>
        </div>
        <div id="results" class="col-lg-8 order-2 mb-5"></div>
        <div class="col-lg-4 order-1">
            <form enctype="application/json" action="/" method="POST">
                <div class="form-group">
                    <select class="form-control" name="main_groups">
                        <option value="0">Chocolate Bars</option>
                        <option value="1">Assorted Chocolates</option>
                        <option value="2">Gifts and Others</option>
                    </select>
                    <input class="form-control mt-3" id="validationdesc" type="text" name="item"
                           placeholder="Chocolate Description" required>
                    <input class="form-control mt-3" id="validationprc" type="" name="price"
                         placeholder="Price (in Euros)" required>
                    <button type="submit" id= "addproduct" class="btn btn-outline-dark btn-block mt-3" data-mdb-ripple-color="dark">Add a
                        Product
                    </button>
                </div>
            </form>
            <button id="delete" class="btn btn-outline-danger btn-block mt-3" data-mdb-ripple-color="danger">Delete
            </button>

            <p class="text-muted text-center">Please select the product before deleting or updating it it.</p>

            <button id="update" class="btn btn-outline-warning btn-block mt-3" data-mdb-ripple-color="danger">
                Update
            </button>

            <p></p>

            <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&euro;</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Total" name="outputTotal">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <input type="checkbox" id="showGlu" aria-label="Checkbox for Gluten Free options">
                        </div>
                    </div>
                    <input class="btn btn-block btn-outline-success mt-2" data-mdb-ripple-color="success" type="button"
                           name="btnTot" id="calcTotal"
                           value="Total">
                </div>
            </form>
        </div>
        <!--        <div class="container">-->
        <!--        <form action="/update" method="POST">-->

     <!-- left column -->
            <div class="row">
            <div class="col-lg-12 right">
                <p>Please select the desired options below. To calculate the total, please click the button
                    Total.</p>
                <table id="menuTable" border="1" class="table">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Chocolate Type</th>
                        <th>Price (in Euro)</th>
                    </tr>
                    </thead>
                    <!--                    include body of the table-->
                    <%- include('include/_tablebody') %>
                </table>

            </div>
        </div>
        </form>
    </div>


</div>


<!-- Footer -->
<%- include('include/_footer') %>

<tbody>
<!-- JavaScript -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/table.js"></script>
<script src="js/TheChocolateShop.js"></script>

<script>
        var deleteButton = document.querySelector('#delete')

    deleteButton.addEventListener('click', _ => {
        fetch('/', {
            method: 'delete',
        })
    })

    var update = document.querySelector('#update')
    update.addEventListener('click', _ => {
        fetch('/', {
            method: 'put',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                main_groups: document.getElementsByName("main_groups")[0].value,
                item: document.getElementsByName("item")[0].value,
                price: document.getElementsByName("price")[0].value,


            })
        })

    })

    // <!-- to sum the items -->
      window.addEventListener("load", function () {
        // document.forms[1].outputTotal.value = sumTotal('menuTable');
        document.querySelector("#calcTotal").addEventListener("click", function () {
            document.forms[1].outputTotal.value = sumTotal('menuTable');

        });
        //to highlight gluten free options
        document.querySelector("#showGlu").addEventListener("click", function () {
            isGlutenFree('menuTable', this.checked);
        });
        document.querySelector("#getNames").addEventListener("click", function () {
            getItems('menuTable', this.checked);
            const list = getItems();

        });

    });



</script>

