<!-- footer from the index.ejs file -->
<script src="../../public/js/index.js"></script>
<script src="/js/index.js"></script>

<footer class="footer">
    <div class="container text-center"><span class="text-muted">The Chocolate Shop&copy; 2020</span></div>
</footer>


</html>
</body>
</html>