
<tbody>
<tr>
    <% for(var i = 0; i < chocolates.length; i++) { %>
<tr>
    <td align="center"><input name="desc0" type="checkbox"/></td>
    <td><%= chocolates[i].item %></td>
    <td><%= chocolates[i].price %></td>

</tr>
<% } %>
</li>
</ul>
</tr>
</tbody>
